/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Inter', sans-serif; 
}

.btn {
    padding: 8px 20px 8px 20px;
    background-color: black;
}



/* NAV SECTION */
nav {
   display: flex;
   justify-content: space-between;
   margin: 15px;
   
}

nav a {
    text-decoration: none;
    color: black;
}


.mid-nav {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.right-nav a {
   color: white;
}



/* HEADER SECTION */
header {
   margin: 180px 15px 240px 50px;
}

.hero-text {
    font-size:48px;
}

.header-btn {
    margin-top: 40px;
   
}

.header-btn a {
    color: white;
}

.header-btn .btn-white {
    background-color: white;
    color: black;
    border: solid 1px black;
    margin: 20px;
}



/* MAIN SECTION */

main {
    margin: 30px;
}

.main-title {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 20px;
}

.project-box {
    
    height: 400px;
    width: 600px;
    background-color: #ECECEC;
    margin-bottom: 30px;
}

.project-description {
    margin: 0 30px;
}

.project-name {
    margin-bottom: 20px;
}

.project-p {
    margin-bottom: 20px;
    opacity: 60%;
}

article {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}


/* CONTACT FORM SECTION */
.contact-box {
    display: flex;
}

.contact-pic {
    height: 300px;
    width: 200px;
    border: solid 1px black;
}

/* FOOTER SECTION */
footer {
    display: flex;
    justify-content: space-between;
}