/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}


/* NAV SECTION */
nav {
   display: flex;
   justify-content: space-between;
}


/* HEADER SECTION */
header {
    background-color: green;
}


/* MAIN SECTION */
main {
    background-color: yellow;
}


/* CONTACT FORM SECTION */
.contact-form {
    background-color: pink;
}

/* FOOTER SECTION */
footer {
    background-color: aqua;
}